* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

input[type="radio"] {
    appearance: none;
    border: solid 1px #7d66c1;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
}
input[type="radio"]::before {
    content: '';
    background-color: #380861;
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    top: 0.2rem;
    left: 0.2rem;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

input[type="checkbox"] {
    appearance: none;
    border: solid 1px #7d66c1;
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    border-radius: 0;
}
input[type="checkbox"]::before {
    content: '';
    border-right: solid 2px #380861;
    border-bottom: solid 2px #380861;
    position: absolute;
    width: 0.4rem;
    height: 0.7rem;
    bottom: 0.2rem;
    right: 0.2rem;;
    opacity: 0;
    transform: rotate(45deg);
}

input[type="radio"]:checked::before, input[type="checkbox"]:checked:before {
    opacity: 1;
}