main, form, .campo {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100dvh;
    padding-inline: 3%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f0f8ff;
    color: var(--standard-color);
    font-family: sans-serif;
}

.campo-text {
    text-align: center;
}

.campo-text .titulo, .subtitulo {
    color: #380861;
}

form {
    gap: 15px;
}

@keyframes shake {
    25% { transform: translateX(5px);}
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}
}
input:invalid:not(:placeholder-shown):not(input[type="email"]):not(:autofill),
input[type="email"]:invalid:not(:placeholder-shown):not(:focus) {
    animation: shake 300ms;
    background-color: #ffffff;
    color: var(--red);
    border-color: var(--red);
}

.campo:has(
    input:invalid:not(:placeholder-shown):not(input[type="email"]):not(:autofill),
    input[type="email"]:invalid:not(:placeholder-shown):not(:focus)
) label {
    color: var(--red);
}


input, select, textarea {
    padding: 3px;
    border-radius: 5px;
    border: solid 1px var(--standard-color);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

input:is(:focus, :valid),
select:is(:focus, :valid),
textarea:is(:focus, :valid) {
    background-color: #E8F0FE;
    transition: 0.3s ease-in-out;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

select {
    align-self: flex-start;
    transition: 0.2s ease-in-out;
}
select:hover {
    background-color: #E8F0FE;
}

select option[value=""] {
    display: none;
}

.senioridade {
    align-self: flex-start;
}

select option:hover {
    background-color: rebeccapurple;
}

.campo textarea {
    resize: none;
}

.erro {
    color: var(--red);
}

.btn {
	padding: 5px 15px;
	border-radius: 6px;
    align-self: center;
	background: linear-gradient(to bottom, #a370cd 5%, var(--standard-color) 100%);
	color:#ffffff;
	border: 1px solid #c584f3;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(to bottom, var(--standard-color) 5%, #cba6e9 100%);
}
.btn:active {
	position:relative;
	top: 1px;
}