main, form, .campo {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100dvh;
    padding-inline: 3%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f0f8ff;
    color: #59429d;
    font-family: sans-serif;
}

.campo-text {
    text-align: center;
}

.campo-text .titulo, .subtitulo {
    color: #380861;
}

form {
    gap: 15px;
}

fieldset {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

input, select, textarea, .btn {
    padding: 3px;
    border-radius: 5px;
    border: solid 1px #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo input:focus, select, select:focus, textarea:focus {
    background-color: #E8F0FE;
}

select {
    align-self: flex-start;
}

.campo textarea {
    resize: none;
}

select option:first-child {
    display: none;
}

.btn {
	padding: 5px 15px;
	border-radius: 6px;
    align-self: center;
	background: linear-gradient(to bottom, #a370cd 5%, #59429d 100%);
	color:#ffffff;
	border: 1px solid #c584f3;
    cursor: pointer;
}
.btn:hover {
    background:linear-gradient(to bottom, #59429d 5%, #cba6e9 100%);
}
.btn:active {
	position:relative;
	top: 1px;
}